.BasicOptional {
  user-select: none;
  .form-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 1rem;
    margin-bottom: 1.5rem;

    &.input {

      label,
      input {
        transition: all 0.2s ease;
        touch-action: manipulation;
      }
      
      textarea {
        transition: color, border, font-weight, outline, transform opacity 0.2s ease;
        touch-action: manipulation;
      }

      input {
        padding: 0.1rem 0rem 0.5rem 0.5rem;
        border: 0;
        border-bottom: 1px solid $gray-1;
        font-family: inherit;
        -webkit-appearance: none;
        border-radius: 0;
        cursor: text;

        &::placeholder {
          color: $gray-3;
          font-weight: 100;
        }
      }

      input:focus,
      input:hover {
        outline: 0;
        border-bottom: 1px solid $brand-2;
      }

      label {
        margin-bottom: 2px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 11px;

        &.label-no-input {
          color: $brand-2;
          transform: translate(0, 0) scale(1);
          cursor: pointer;
        }
      }


      input:placeholder-shown+label, textarea:placeholder-shown+label {
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(0.5rem, 2rem) scale(1.2);
      }


      ::-webkit-input-placeholder {
        opacity: 0;
        transition: inherit;
      }


      input:focus::-webkit-input-placeholder,
      textarea:focus::-webkit-input-placeholder {
        opacity: 1;
      }


      input:not(:placeholder-shown)+label,
      input:focus+label,
      textarea:not(:placeholder-shown)+label,
      textarea:focus+label {
        color: $brand-2;
        transform: translate(0, 0) scale(1);
        cursor: pointer;
      }
    }

    label {
      margin-bottom: 2px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 11px;

      &.label-no-input {
        color: $brand-2;
        transform: translate(0, 0) scale(1);
        cursor: pointer;
      }
    }

    .textarea {
      color: $brand-8;
      padding: 0.5rem;
      border: 1px solid $gray-1;
      border-radius: $radius-low;
      &:focus, &:hover {
        outline: 0;
        border: 1px solid $brand-2;
      }
      &::placeholder {
        color: $gray-3;
        font-weight: 100;
      }
    }
  }
}