li.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    
    label {
        margin-bottom: 0;
        margin-left: 0.5rem;
        letter-spacing: 1.2;
        cursor: pointer;
        padding: 0.2rem 0;
    }
    input {
        cursor: pointer;
        padding: 0.2rem 0;
    }
}