.Login {
    position: relative;

    .container {
        padding-top: 6rem;
        padding-bottom: 6rem;
        width: 100%;
        min-height: 100vh;
        position: relative;
        background-color: rgba($bc-01, 0.4);
        display: flex;

        .row {
            margin: 0;
            margin-top: 6rem;
            width: 100%;
            display: flex;
            justify-content: center;

            .col {
                max-width: 320px;

                .loading-container {
                    padding: 2rem 0;
                    text-align: center;
                    color: $gray-3;
                }

                h2 {
                    color: $bc-14;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 2.375rem;
                    letter-spacing: 1px;
                    font-size: 2.5rem;
                    font-weight: 700;
                }

                .form-container {
                    .login-button {
                        width: 100%;
                        background-color: $bc-14;
                        color: $bc-01;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: $gray-2;
                        }
                    }

                    .input-form {
                        border: 0;

                        &.isLoading {
                            cursor: initial;
                        }

                        &:focus {
                            box-shadow: none;
                            border: 0;
                        }

                        &::placeholder {
                            color: $oc-gray-5;
                            font-size: 0.9em;
                        }
                    }

                    .container-error {
                        background-color: rgba($bc-18, 0.6);
                        font-size: 0.5rem;
                        color: $bc-14;
                        border-radius: $radius-low;
                        padding: 0.2rem 0.4rem;
                        margin-top: -0.5rem;
                        margin-bottom: 1.5rem;

                        p {
                            margin: 0;
                            letter-spacing: 0.5px;
                        }
                    }
                }

                .link-forgetPW {
                    text-decoration: underline;
                    margin-top: 0.5rem;
                    font-size: 0.8em;
                    padding: 0 0.2rem;

                    a {
                        color: $bc-14;
                        transition: all 0.3s ease;

                        &:hover {
                            color: $gray-2;
                        }
                    }
                }
            }
        }
    }
}