.UserStatus {
    background-color: $bc-14;
    display: flex;
    align-items: center;
    color: $bc-01;
    justify-content: center;
    .flexible-container {
        padding: 2rem;
        width: 100%;
        max-width: 1360px;
        display: flex;
        align-items: center;
        @include media('lg') {
            padding: 2rem 14rem;
        }
        @include media('sm') {
            justify-content: flex-start;
            padding: 2rem 1rem;
        }
    }
    .level-exp {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background-color: $bc-01;
        border-radius: 100%;
        padding: 4px;
        margin-right: 2rem;
        .level {
            background-color: $bc-14;
            color: $bc-19;
            border-radius: 100%;
            width: 62px;
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
        }
    }
    .info {
        div {
            color: $bc-18;
            font-size: 1.2rem;
            &.nickname {
                margin-bottom: 0.5rem;
            }
        }
    }
}