.CaseListItem {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    // color: $brand-8;
    .wrapper-bottom {
        padding: 0.75rem;
        height: 296px;
        @include media('lg') {
            height: 260px;
        }
        // background-color: $brand-7;
        background-color: $oc-gray-1;
        color: $brand-8;
        border-radius: $radius-low;
    }
    .divider-horizon {
        position: relative;
        margin: 0.3rem 0 1.5rem;
        &::after {
            position: absolute;
            top: 0;
            left: 50%;
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgba($white, 0.35);
            transform: translateX(-50%);
        }
    }
    .memo {
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1.6;
        height: 1.6em;
        max-height: 1.6em;
        overflow: hidden;
        display: -webkit-box;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        
    }
    .date-qna {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: rgba($white, 0.75);
        .qna {
            display: flex;
            // color: $white;
            .count {
                flex: 1;
                padding: 0.3rem 0.3rem;
                border-radius: $radius-low;
                text-align: center;
                font-size: 0.9rem;
                &:first-child {
                    margin-right: 2px;
                }
                &.question-count {
                    // background-color: $brand-4;
                }
                &.answer-count {
                    // background-color: $brand-5;
                }
            }
        }
        .created-at {
            display: flex;
            font-size: 0.9rem;
            justify-content: flex-end;
            align-items: center;
            margin-right: 0.5rem;
            svg {
                margin-right: 0.5rem;
            }
        }
    }
    .flexbox {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        &.symptom {
            .content {
                height: 6rem;
                @include media('lg') {
                    height: 6.5rem;
                }
                .item {
                    overflow: hidden;
                }
            }
        }
        &.condition {
            .content {
                height: 4.5rem;
                @include media('lg') {
                    height: 5rem;
                }
            }
        }

    }
    .label {
        flex: 1.5;
        font-weight: 400;
        letter-spacing: 1px;
        svg {
            color: $brand-8;
            font-size: 1.5rem;
        }
    }
    .content {
        flex: 5.5;
        padding-left: 2rem;
        letter-spacing: 1px;
        margin-top: 1px;
        
    }
}