.SearchBar {
    width: 100%;
    position: relative;
    margin-bottom: 0.5rem;
    div.search-icon {
        position: absolute;
        top: 45%;
        left: 0.75rem;
        transform: translateY(-50%);
        cursor: pointer;
        svg {
            font-size: 1.25rem;
        }
    }
    input {
        width: 100%;
        // max-width: 350px;
        padding: 0.85rem;
        padding-left: 2.5rem;
        transition: all 0.2s ease;
        border: 1px solid $gray-1;
        border-radius: $radius-low;
        &:active, &:focus, &:hover {
            border: 1px solid $bc-01;
            border-radius: $radius-low;
            outline: 0;
            
        }
        &::placeholder {
            font-weight: 100;
            color: $bc-17;
        }
    }
}