.Modal {
    position: absolute;
    z-index: 9999999999;
    top: 0;
    left: 0;
    // &.PDF {
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }
    &.caseDelete {
        
    }
}