@import './resetCSS';
@import './loader';
@import './animate';

@font-face {
    font-family: 'NotoSansKR';
    font-weight: 100;
    src: url('./font/NotoSansCJKkr-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 400;
    src: url('./font/NotoSansCJKkr-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 700;
    src: url('./font/NotoSansCJKkr-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSansKR';
    font-weight: 900;
    src: url('./font/NotoSansCJKkr-Black.ttf') format('truetype');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 반응형 분기점
    'xs': 576px,
    'sm': 768px, 
    'md': 1024px, 
    'lg': 1411px, 
    'xl': 1601px
*/


html {
    font-size: 16px;
    font-family: NotoSansKR, sans-serif !important;

    @include media('xl') {
        // font-size: 15px;
    }

    @include media('lg') {
        font-size: 13px;
    }

    @include media('md') {
        // font-size: 12px;
    }

    @include media('sm') {
        // font-size: 11px;
    }
}

body {
    position: relative;
    box-sizing: border-box;
}