@import './resetCSS';
@import './loader';
@import './animate';
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700|Raleway:400,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,900&display=swap&subset=korean');
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 반응형 분기점
    'xs': 576px,
    'sm': 768px, 
    'md': 1024px, 
    'lg': 1411px, 
    'xl': 1601px
*/


html {
    font-size: 16px;
    // font-family: 'Noto Sans KR', sans-serif;
    font-family: 'NanumBarunGothic', sans-serif !important;
    @include media('xl') {
        font-size: 15px;
    }
    @include media('lg') {
        font-size: 13px;
    }
    @include media('md') {
        // font-size: 12px;
    }
    @include media('sm') {
        // font-size: 11px;
    }
}

body {
    position: relative;
    box-sizing: border-box;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: $oc-gray-1;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: $oc-gray-4;
}