.Layout {
    position: relative;
    min-height: 100%;

    .header-container {
        position: absolute;
        display: flex;
        align-items: center;
        height: 6rem;
        width: 100%;
        background-color: $bc-01;
        top: 0;
        left: 0;
        z-index: $header-z-index;
    }
    .main-container {
        width: 100%;
        min-height: 100%;
        background-image: url('../../styles/img/static_background.jpeg');
        background-size: cover;
        background-position: 0 100%;
        background-repeat: no-repeat;
        $main-container-z-index: 1000;
    }

    .footer-container {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba($bc-14, 0.6);
        padding: 2rem 0;
    }
}