.Layout {
    position: relative;
    min-height: 100%;

    .header-container {
        position: absolute;
        display: flex;
        align-items: center;
        height: 4rem;
        width: 100%;
        top: 0;
        left: 0;
        z-index: $header-z-index;
        background: rgba($bc-01, 0.9);
        backdrop-filter: blur(8px);
    }
    .main-container {
        width: 100%;
        min-height: 100%;
        background-image: url('../../styles/img/static_background.jpeg');
        background-size: cover;
        background-position: 0 100%;
        background-repeat: no-repeat;
        $main-container-z-index: 1000;
    }

    .footer-container {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background: rgba($bc-14, 0.4);
        backdrop-filter: blur(8px);
        padding: 2rem 0;
        @include media('sm') {
            padding: 1.5rem 0;
        }
    }
}