.CaseEditor {
    position: relative;
    height: 100vh;
    padding-top: 80px;
    display: flex;
    color: $brand-8;
    background-color: rgba($gray-1, 0.2);
    justify-content: center;
    &.isLoading {
        padding: 0;
        // background-color: red;
        align-items: center;
    }
    @include media('lg') {
        padding-top: 58.5px;
    }
    
    .container {
        height: calc(100vh - 80px);
        display: flex;
        @include media('lg') {
            height: calc(100vh - 58.5px);
        }

        .scroll-box {
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 2rem;
            height: 100%;
            overflow-y: scroll;
        }

        &.left, &.right {
            position: relative;
            background-color: rgba($gray-1, 0.2);
        }
        
        &.left {
            flex: 1;
            position: relative;
            z-index: 10;
            .scroll-box {
                overflow-y: scroll;
                overflow-x: visible;
            }
            
        }
        
        &.center {
            position: relative;
            flex: 2;
            border-right: 1px solid rgba($brand-8, 0.1);
            border-left: 1px solid rgba($brand-8, 0.1);
            z-index: 9;
            background-color: $white;
            
        }
        
        &.right {
            padding-left: 0.5rem;
            flex: 1;
            z-index: 8;
            position: relative;
            .scroll-box {
                overflow-y: scroll;
                overflow-x: visible;
            }

            .scroll-to-top {
                display: none;
                cursor: pointer;
                position: absolute;
                left: 1rem;
                bottom: 1rem;
                background-color: $oc-gray-3;
                width: 48px;
                height: 48px;
                border-radius: $radius-low;
                font-size: 1.55rem;
                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        
    }
}