.Drug {
    padding: 2rem;
    position: relative;
    user-select: none;

    h5 {
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 2.5rem;
        color: $brand-8;
        user-select: none;
    }

    .wrapper {
        margin-left: 1rem;
        padding: 0.5rem;
    }

    .search-container {
        position: relative;
        z-index: 10;
    }

    .search-wrapper {
        border: 1px solid $gray-1;
        display: flex;
        border-radius: $radius-low;
        margin-bottom: 1rem;

        &:hover {
            border-color: $brand-6;
        }

        &.focus {
            border-color: $brand-6;
            border-bottom: 1px solid transparent;
            ;
            border-radius: 2px 2px 0 0;
        }

        .btn-search {
            padding: 0 0.5rem;
            padding-left: 0;
            cursor: pointer;
        }

        .btn-clear {
            padding: 0 0.5rem;
            padding-right: 0;
            cursor: pointer;
        }

        .input {
            flex: 1;
        }

        input {
            width: 100%;
            border: 0;
            color: $brand-8;

            &::placeholder {
                font-weight: 100;
                color: $gray-3;
            }

            &:focus {
                outline: 0;
            }
        }
    }

    .results-wrapper {
        position: absolute;
        top: 33px;
        width: calc(100% - 1rem);
        border: 1px solid $brand-6;
        border-radius: $radius-low;
        border-top: 1px solid transparent;
        padding: 0;
        background-color: $white;

        ul {
            position: relative;
            padding-top: 1rem;
            max-height: 278px;
            overflow-y: scroll;
            background-color: $white;

            @include media('lg') {
                max-height: 222px;
            }

            &::before {
                width: 98%;
                height: 1px;
                background-color: $gray-1;
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            li {
                padding: 0.5rem 1rem;

                &:hover,
                &.active {
                    background-color: $gray-1;
                }

                &.no-results {
                    &:hover {
                        background-color: $white;
                    }
                }
            }
        }
    }

    .drug-wrapper {
        position: relative;
        z-index: 8;

        ul {
            margin-top: 1rem;

            li {
                display: flex;
                position: relative;
                flex-direction: column;

                &.selected {
                    box-shadow: 0 2px 8px 4px $gray-1;
                }

            }
        }

        .form-wrapper {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 1.5rem;

            &:first-child {
                margin-right: 0.5rem;
            }

            &.drug-name {

                input {
                    cursor: pointer !important;
                }
            }

            &.input {

                label,
                input {
                    transition: all 0.2s ease;
                    touch-action: manipulation;
                }

                textarea {
                    transition: color, border, font-weight, outline, transform opacity 0.2s ease;
                    touch-action: manipulation;
                }

                input {
                    padding: 0.1rem 0rem 0.5rem 0.5rem;
                    border: 0;
                    border-bottom: 1px solid $gray-1;
                    font-family: inherit;
                    -webkit-appearance: none;
                    border-radius: 0;
                    cursor: text;

                    &::placeholder {
                        color: $gray-3;
                        font-weight: 100;
                    }
                }

                input:focus,
                input:hover {
                    outline: 0;
                    border-bottom: 1px solid $brand-6;
                }



                label {
                    margin-bottom: 2px;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-size: 11px;

                    &.label-no-input {
                        color: $brand-6;
                        transform: translate(0, 0) scale(1);
                        cursor: pointer;
                    }
                }


                input:placeholder-shown+label,
                textarea:placeholder-shown+label {
                    cursor: text;
                    max-width: 66.66%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transform-origin: left bottom;
                    transform: translate(0.5rem, 2rem) scale(1.2);
                }


                ::-webkit-input-placeholder {
                    opacity: 0;
                    transition: inherit;
                }


                input:focus::-webkit-input-placeholder,
                textarea:focus::-webkit-input-placeholder {
                    opacity: 1;
                }


                input:not(:placeholder-shown)+label,
                input:focus+label,
                textarea:not(:placeholder-shown)+label,
                textarea:focus+label {
                    color: $brand-6;
                    transform: translate(0, 0) scale(1);
                    cursor: pointer;
                }
            }

            label {
                margin-bottom: 2px;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-size: 11px;
                // font-weight: 100;
                color: $gray-3;

                &.label-no-input {
                    color: $brand-6;
                    transform: translate(0, 0) scale(1);
                    cursor: pointer;
                }
            }

            .textarea {
                color: $brand-8;
                padding: 0.5rem;
                border: 1px solid $gray-1;
                border-radius: $radius-low;

                &:focus, &:hover {
                    outline: 0;
                    border: 1px solid $brand-6;
                }

                &::placeholder {
                    color: $gray-3;
                    // font-weight: 100;
                }
            }
        }
    }

    .formula-wrapper {
        position: relative;
        z-index: 8;
        margin-top: -1rem;

        .btn-add-formula {
            width: 100%;
            padding: 0.5rem;
            background-color: $brand-7;
            border: 0;
            letter-spacing: 2px;
            border-radius: $radius-low;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                background-color: $brand-6;
            }
            &:focus {
                outline: 0;
            }
        }

        ul {
            margin-top: 1rem;
            li {
                display: flex;
                position: relative;
                &.selected {
                    box-shadow: 0 2px 8px 4px $gray-1;
                }
                .herb-name {
                    width: 60%;
                }
                .dose {
                    width: 100px;
                }
                .trash {
                    display: flex;
                    align-items: center;
                    color: $gray-1;
                    transition: all 0.3s ease;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    &:hover {
                        color: $brand-4;
                    }
                    svg {
                        cursor: pointer;
                    }
                    &.last {
                        &:hover {
                            color: $gray-1;
                        }
                        svg {
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
        
        .form-wrapper {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 1.5rem;
            &:first-child {
                margin-right: 0.5rem;
            }

            &.formula-name {
                width: 30%;
                input {
                    cursor: pointer !important;
                }
            }
            &.formula-dose {
                flex: 1;
            }
    
            &.input {
    
                label,
                input {
                    transition: all 0.2s ease;
                    touch-action: manipulation;
                }
    
                input {
                    padding: 0.1rem 0rem 0.5rem 0.5rem;
                    border: 0;
                    border-bottom: 1px solid $gray-1;
                    font-family: inherit;
                    -webkit-appearance: none;
                    border-radius: 0;
                    cursor: text;
    
                    &::placeholder {
                        color: $gray-3;
                        font-weight: 100;
                    }
                }
    
                input:focus,
                input:hover {
                    outline: 0;
                    border-bottom: 1px solid $brand-6;
                }

                
    
                label {
                    margin-bottom: 2px;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-size: 11px;
    
                    &.label-no-input {
                        color: $brand-6;
                        transform: translate(0, 0) scale(1);
                        cursor: pointer;
                    }
                }
    
    
                input:placeholder-shown+label {
                    cursor: text;
                    max-width: 66.66%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transform-origin: left bottom;
                    transform: translate(0.5rem, 2rem) scale(1.2);
                }
    
    
                ::-webkit-input-placeholder {
                    opacity: 0;
                    transition: inherit;
                }
    
    
                input:focus::-webkit-input-placeholder {
                    opacity: 1;
                }
    
    
                input:not(:placeholder-shown)+label,
                input:focus+label {
                    color: $brand-6;
                    transform: translate(0, 0) scale(1);
                    font-weight: 400;
                    cursor: pointer;
                }
            }
    
            label {
                margin-bottom: 2px;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-size: 11px;
                font-weight: 100;
                color: $gray-3;
    
                &.label-no-input {
                    color: $brand-6;
                    transform: translate(0, 0) scale(1);
                    cursor: pointer;
                }
            }
        }
    }

}