.LayoutCloudoc {
    position: relative;
    .app-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -9999;
        &.cover {
            z-index: 10001;
            background-color: rgba($bc-18, 0.8);
        }
    }
    .header-container {
        background-color: $bc-01;
        color: $bc-14;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-container {
        min-height: calc(100vh - 12rem);
        // overflow-x: hidden;
    }
    .footer-container {
        background-color: $bc-14;
        color: $bc-18;
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}