.LayoutCloudoc {
    position: relative;
    .app-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -9999;
        &.cover {
            z-index: 10001;
            background-color: rgba(black, 0.8);
        }
    }
    .header-container {
        background-color: $brand-8;
        color: $white;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-container {
        min-height: calc(100vh - 12rem);
    }
    .footer-container {
        background-color: $brand-7;
        color: $black;
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}