.App {
    position: relative;
    &.Windows {
        /* Scrollbar Styling */
        ::-webkit-scrollbar {
            width: 8px;
        }
        
        ::-webkit-scrollbar-track {
            background-color: $oc-gray-1;
            -webkit-border-radius: 2px;
            border-radius: 2px;
        }
    
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 2px;
            border-radius: 2px;
            background: $oc-gray-4;
        }
    }
    
    .network-message {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
        border-radius: 2px;;
        z-index: 999999;
        padding: 0.5rem 1rem;
        min-width: 13rem;
        font-size: 1.25rem;
        letter-spacing: 1px;
        text-align: center;
        &.offline {
            background-color: $bc-01;
        }
        &.online {
            background-color: $bc-17;
        }
    }
}