.CaseLibrary {
    position: relative;
    main {
        display: flex;
        justify-content: center;
        .flexible-container {
            padding: 2rem;
            width: 100%;
            max-width: 1360px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include media('lg') {
                padding: 2rem 14rem;
            }
            @include media('sm') {
                justify-content: flex-start;
                padding: 0;
            }
        }
        .selector {
            display: flex;
            margin-bottom: 3rem;
            @include media('sm') {
                margin-bottom: 2rem;
                justify-content: space-around;
                padding: 0 1rem;
                margin-top: 1rem;
            }
            button {
                position: relative;
                padding: 0.2rem 0.75rem;
                font-size: 1.2rem;
                background-color: transparent;
                border: none;
                transition: all 0.3s ease;
                cursor: pointer;
                border-radius: $radius-high;
                &:nth-child(2) {
                    margin: 0 3rem;
                }
                &.active {
                    background-color: $bc-12;
                    color: $bc-01;
                    
                    border-radius: $radius-high;
                    &:hover {
                        color: $bc-01;
                    }
                }
                &:focus, &:active {
                    outline: 0;
                }
                &:hover {
                    background-color: $bc-12;
                    color: $white;
                    
                    border-radius: $radius-high;
                }
            }
        }
    }
    .wrapper-caselist {
        margin-top: 1rem;
        li {
            font-size: 0.7em;
            letter-spacing: 2px;
        }
    }
}