.record-date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid $gray-2;
    border-radius: $radius-low;
    position: relative;
    width: 220px;
    @include media('lg') {
        width: 180px;
    }
    &.isEditing {
        &:hover {
            border-color: $gray-2;
        }
        .selected-date {
            cursor: default;
        }
    }
    &.focus {
        border-color: $bc-02;
        border-radius: $radius-low $radius-low 0 0;
        border-bottom: 1px solid transparent;
    }
    
    &:hover {
        border-color: $bc-02;
    }
    .selected-date {
        text-align: center;
        position: relative;
        padding-top: 0.5rem;
        padding-bottom: 0.6rem;
        border-radius: $radius-low;
        cursor: pointer;
        width: 220px;
        @include media('lg') {
            width: 180px;
        }
        div:first-child {
            position: absolute;
            left: 1.5rem;
            margin-right: 0.5rem;
        }
        .arrow-down-icon {
            position: absolute;
            top: 0;
            right: 0.5rem;
            font-size: 1.5rem;
        }        

    }
    .records {
        position: absolute;
        top: 93%;
        left: -1px;
        border: 1px solid $bc-02;
        border-radius: 0 0 $radius-low $radius-low;
        border-top: 1px solid transparent;
        background-color: white;
        width: 220px;
        @include media('lg') {
            width: 180px;
        }
        ul {
            z-index: 999;
            position: relative;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin: 0;
            background-color: white;

            .date {
                padding: 0.5rem;
                padding-bottom: 0.3rem;
                text-align: center;
                display: block;
                color: $bc-18;
                text-decoration: none;
                &.selected {
                    color: $gray-1;
                    cursor: not-allowed;
                    &:hover {
                        background-color: transparent;
                    }
                }

                &:hover, &.active {
                    background-color: $gray-1;
                }
                
            }
        }
    }
}