.RightSideList {
    position: absolute;
    // background-color: $brand-2;
    top: 1%;
    left: 0.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    border-radius: $radius-low;
    width: calc(100% - 1rem);
    // padding: 0.5rem;
    ul {
        // margin-top: 2.5rem;
        max-height: 80vh;
        overflow-y: scroll;
        // padding: 0.5rem;
        margin-bottom: 0rem;
        // margin-top: 0.5rem;
        font-size: 0.9rem;
        // padding: 0.2rem 0;
        li {
            // background-color: $brand-8;
            color: $white;
            padding: 0.5rem;
            border-radius: $radius-low;
            word-break: break-all;
            transition: all 0.3s ease;
            line-height: 1.8;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 2%;
            }
            &:hover {
                background-color: $brand-7;
                color: $brand-8;
            }
            .lab-name {
                font-weight: 900;
                &.high {color: darkred;}
                &.low {color: darkblue;}
            }
        }
        &.check-symptoms, &.check-labs {
            display: flex;
            flex-wrap: wrap;
            li {
                padding: 4px;
                width: 48%;
                &:nth-child(2n) {
                    margin-left: 2%;
                }
                margin-bottom: 2%;
                
            }
        }
    }


}