.RightSideList {
    height: 100%;
    padding-top: 1rem;
    left: 0.5rem;
    font-weight: 100;
    border-radius: $radius-low;
    width: calc(100% - 1rem);
    top: 6rem;
    @include media('lg') {
        top: 5.5rem;
    }
    .btn-move-record {
        user-select: none;
        z-index: 4;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        height: 25%;
        color: $bc-01;
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
        background-color: transparent;
        cursor: pointer;
        @include media('sm') {
            display: none;
        }
        &:hover {
            font-size: 7rem;
            background-color: rgba($bc-01, 0.1);
            text-decoration: none;
        }
        .date {
            font-size: 1rem;
            font-weight: 400;
            color: $bc-02;
        }
    }
    ul {
        // margin-top: 2.5rem;
        max-height: 80vh;
        overflow-y: scroll;
        // padding: 0.5rem;
        margin-bottom: 0rem;
        // margin-top: 0.5rem;
        font-size: 0.9rem;
        // padding: 0.2rem 0;
        li {
            // background-color: $bc-18;
            color: $white;
            padding: 0.5rem;
            border-radius: $radius-low;
            word-break: break-all;
            transition: all 0.3s ease;
            line-height: 1.8;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 2%;
            }
            &:hover {
                background-color: $bc-03;
                color: $bc-18;
            }
            .lab-name {
                font-weight: 900;
                &.high {color: $bc-09;}
                &.low {color: $bc-01;}
            }
        }
        &.check-symptoms, &.check-labs {
            display: flex;
            flex-wrap: wrap;
            li {
                padding: 4px;
                width: 48%;
                &:nth-child(2n) {
                    margin-left: 2%;
                }
                margin-bottom: 2%;
                
            }
        }
    }


}