.CaseDelete {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: 540px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 12px 0px;
    border-radius: $radius-medium;
    padding: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;

    @include media('sm') {
        // left: calc(43.5px * 2.5);
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.75rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .top,
    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: $radius-high;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .top {
        background-color: $bc-12;
        margin-bottom: 1rem;

        &:hover {
            opacity: 0.8;
        }
    }

    .bottom {
        background-color: $bc-11;

        &:hover {
            opacity: 0.8;
        }
    }

    .delete-message {
        padding: 1rem;
        color: $bc-18;
        font-size: 1.2rem;
        border-radius: $radius-high;
        margin-bottom: 0.5rem;
        word-wrap: break-word;

    }

    .button-wrapper {
        display: flex;
        justify-content: flex-end;

        .button {
            border-radius: $radius-high;
            padding: 0.75rem;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s ease;
            width: 80px;

            &:hover {
                opacity: 0.8;
            }

            &.cancel {
                background-color: $oc-gray-3;
                color: $bc-18;
                margin-right: 0.5rem;
            }

            &.delete {
                background-color: $oc-red-9;
                color: $bc-14;
            }
        }
    }
}