.Lab {
    padding: 2rem;
    position: relative;
    user-select: none;

    .title-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 3.5rem;

        h5 {
            font-weight: 700;
            letter-spacing: 2px;
            color: $brand-8;
            user-select: none;
            margin-bottom: 0;
            
        }
        .load-lab-results {
            margin-left: 1rem;
            position: relative;
            button {
                position: relative;
                font-size: 0.9rem;
                font-weight: 100;
                background-color: $brand-1;
                color: $white;
                border: 0;
                border-radius: $radius-low;
                padding: 0.3rem 0.6rem;
                cursor: pointer;
                
                &:focus {
                    outline: 0;
                }
            }
            section > div:focus {
                outline: 0;
            }

            section {
                position: relative;
                .fileName {
                    position: absolute;
                    top: 50%;
                    right: -12rem;
                    transform: translateY(-50%);

                }
            }
        }
    }
    .lab-results-list {
        padding-left: 1rem;
        .category-title {
            letter-spacing: 1.3px;
            span {
                font-size: 1.2rem;
                font-weight: 700;
                color: $brand-1;
            }
        }
        li {
            display: flex;
            padding: 0.8rem 0.5rem;
            padding-right: 0;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            .lab-name-unit {
                position: relative;
                width: 320px;
                @include media('lg') {
                    width: 270px;
                }
                .unit {
                    position: absolute;
                    left: 0;
                    top: 25px;
                    font-weight: 100;
                    position: absolute;
                    left: 4px;
                    top: 25px;
                    font-size: 0.9rem;
                    color: $gray-3;
                }
            }
            .bar-wrapper {
                flex: 1;
            }
        }
    }
    
    .wrapper {
        margin-left: 1rem;
        padding: 0.5rem;
    }

    .search-container {
        position: relative;
        z-index: 12;
    }

    .search-wrapper {
        border: 1px solid $gray-1;
        display: flex;
        border-radius: $radius-low;
        margin-bottom: 1rem;

        &:hover {
            border-color: $brand-2;
        }

        &.focus {
            border-color: $brand-2;
            border-bottom: 1px solid transparent;
            ;
            border-radius: 2px 2px 0 0;
        }

        .btn-search {
            padding: 0 0.5rem;
            padding-left: 0;
            cursor: pointer;
        }

        .btn-clear {
            padding: 0 0.5rem;
            padding-right: 0;
            cursor: pointer;
        }

        .input {
            flex: 1;
        }

        input {
            width: 100%;
            border: 0;
            color: $brand-8;

            &::placeholder {
                font-weight: 100;
                color: $gray-3;
            }

            &:focus {
                outline: 0;
            }
        }
    }

    .results-wrapper {
        position: absolute;
        top: 33px;
        width: calc(100% - 1rem);
        border: 1px solid $brand-2;
        border-radius: $radius-low;
        border-top: 1px solid transparent;
        padding: 0;
        background-color: $white;

        ul {
            position: relative;
            padding-top: 1rem;
            max-height: 278px;
            overflow-y: scroll;
            background-color: $white;

            @include media('lg') {
                max-height: 222px;
            }

            &::before {
                width: 98%;
                height: 1px;
                background-color: $gray-1;
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            li {
                padding: 0.5rem 1rem;

                &:hover, &.active {
                    background-color: $gray-1;
                }
                &.no-results {
                    &:hover {
                        background-color: $white;
                    }
                }
            }
        }
    }

    .symptoms-wrapper {
        position: relative;
        z-index: 8;

        ul {
            margin-top: 1rem;
            li {
                display: flex;
                position: relative;
                &.selected {
                    box-shadow: 0 2px 8px 4px $gray-1;
                }
                .trash {
                    display: flex;
                    align-items: center;
                    color: $gray-1;
                    transition: all 0.3s ease;
                    position: absolute;
                    top: 50%;
                    right: -20px;
                    transform: translateY(-50%);
                    &:hover {
                        color: $brand-4;
                    }
                    svg {
                        cursor: pointer;
                    }
                    &.last {
                        &:hover {
                            color: $gray-1;
                        }
                        svg {
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
        
        .form-wrapper {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 1.5rem;
            &:first-child {
                margin-right: 0.5rem;
            }

            &.symptom-name {
                width: 30%;
                input {
                    cursor: pointer !important;
                }
            }
            &.description {
                flex: 1;
            }
    
            &.input {
    
                label,
                input {
                    transition: all 0.2s ease;
                    touch-action: manipulation;
                }
    
                input {
                    padding: 0.1rem 0rem 0.5rem 0.5rem;
                    border: 0;
                    border-bottom: 1px solid $gray-1;
                    font-family: inherit;
                    -webkit-appearance: none;
                    border-radius: 0;
                    cursor: text;
    
                    &::placeholder {
                        color: $gray-3;
                        font-weight: 100;
                    }
                }
    
                input:focus,
                input:hover {
                    outline: 0;
                    border-bottom: 1px solid $brand-2;
                }

                
    
                label {
                    margin-bottom: 2px;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-size: 11px;
    
                    &.label-no-input {
                        color: $brand-2;
                        transform: translate(0, 0) scale(1);
                        cursor: pointer;
                    }
                }
    
    
                input:placeholder-shown+label {
                    cursor: text;
                    max-width: 66.66%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transform-origin: left bottom;
                    transform: translate(0.5rem, 2rem) scale(1.2);
                }
    
    
                ::-webkit-input-placeholder {
                    opacity: 0;
                    transition: inherit;
                }
    
    
                input:focus::-webkit-input-placeholder {
                    opacity: 1;
                }
    
    
                input:not(:placeholder-shown)+label,
                input:focus+label {
                    color: $brand-2;
                    transform: translate(0, 0) scale(1);
                    font-weight: 400;
                    cursor: pointer;
                }
            }
    
            label {
                margin-bottom: 2px;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                font-size: 11px;
                font-weight: 100;
                color: $gray-3;
    
                &.label-no-input {
                    color: $brand-2;
                    transform: translate(0, 0) scale(1);
                    cursor: pointer;
                }
            }
        }
    }

}