.FooterCloudoc {
    position: relative;
    padding: 0 2rem;
    width: 100%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media('sm') {
        font-size: 0.9rem;
        padding: 0 1rem;
    }
    .company-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
            margin-top: 1px;
            margin-right: 1.8rem;
            width: 56px;
            @include media('lg') {
                width: 40px;
            }
            @include media('sm') {
                display: none;
            }
        }
        .info {
            p {
                font-size: 0.8rem;
                color: $bc-18;
                margin-bottom: 0;
            }
        }
    }
    ul.navbar {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        
        li {
            &:not(:last-child) {
                margin-right: 2rem;
                @include media('sm') {
                    margin-right: 1rem;
                }
            }
        }
        a {
            color: $white;
            transition-property: font-weight, color;
            transition-duration: 0.3s;
            transition-timing-function: ease;
            
            letter-spacing: 1px;
            color: $bc-18;
            &:hover {
                color: $bc-17;
                text-decoration: none;
            }
        }
    }
}