.Signup {
    position: relative;
    .signup-container {
        padding-top: 6rem;
        padding-bottom: 6rem;
        width: 100%;
        min-height: 100vh;
        position: relative;
        background-color: rgba($bc-01, 0.4);
        display: flex;
        .wrapper {
            width: 100%;
            display: flex;
            margin-top: 6rem;
            flex-direction: column;
        }
        h2 {
            text-align: center;
            color: $white;
            margin-bottom: 0;
            letter-spacing: 2px;
        }
        .row {
            margin: 0;
            width: 100%;
            justify-content: center;
        }
        .signup-form {
            max-width: 297px;
            margin: auto;
            padding: 0 15px;
            margin-top: 2.375rem;

            .input-form {
                border: 0;
                
                &:focus {
                    box-shadow: none;
                    border: 0;
                }

                &::placeholder {
                    color: $oc-gray-5;
                    font-size: 0.9em;
                }
                &.error {
                    border: 1.5px $error solid;
                }
                &.inValid {
                    border: 1.5px $error solid;
                }
            }
            .container-error {
                background-color: rgba($bc-18, 0.6);
                font-size: 0.5rem;
                color: $white;
                border-radius: $radius-low;
                padding: 0.2rem 0.4rem;
                margin-top: -0.5rem;
                margin-bottom: 1.5rem;
                p {
                    margin: 0;
                    letter-spacing: 0.5px;
                }
            }

            label {
                display: none;
                color: $white;
            }
            
            button {
                width: 100%;
                background-color: $bc-14;
                color: $bc-01;
                transition: all 0.2s;
                &:hover {
                    color: $bc-14;
                    background-color: $bc-01;
                }
                &:disabled {
                    color: $gray-4;
                    background-color: $gray-3;
                    cursor: not-allowed;
                }
                
            }
            .text-muted {
                font-size: 0.7rem;
                color: $white;
            }
        }
    }
}