.Signup {
    position: relative;
    .signup-container {
        width: 100%;
        min-height: 100vh;
        position: relative;
        background-color: rgba($bc-01, 0.4);
        display: flex;
        padding: 6rem 0;
        .wrapper {
            width: 100%;
            display: flex;
            margin-top: 6rem;
            flex-direction: column;
            @include media('sm') {
                margin-top: 3rem;
            }
        }
        h2 {
            text-align: center;
            color: $white;
            margin-bottom: 0;
            letter-spacing: 1px;
            font-size: 2.5rem;
            font-weight: 700;
        }
        .row {
            margin: 0;
            width: 100%;
            justify-content: center;
        }
        .signup-form {
            max-width: 320px;
            margin: auto;
            padding: 0 15px;
            margin-top: 2.375rem;

            
            button {
                width: 100%;
                background-color: $bc-14;
                color: $bc-01;
                transition: all 0.3s ease;
                        
                &:hover {
                    background-color: $gray-2;
                }
                &:disabled {
                    color: $gray-4;
                    background-color: $gray-3;
                    cursor: not-allowed;
                }
                
            }
        }
    }
}