.HeaderCloudoc {
    position: relative;
    padding: 2rem;
    width: 100%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media('lg') {
        padding: 2rem 14rem;
    }
    @include media('sm') {
        padding: 0 1rem;
    }
    .brand-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
            margin-top: 1px;
            margin-right: 8px;
            width: 40px;
        }
        .brand-name {
            font-size: 1.4rem;
            margin-top: 5px;
        }
        @include media('sm') {
            display: none;
        }
    }
    .navbar {
        ul {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            li {
                color: $bc-14;
                padding: 0.1rem 1rem;
                border-radius: $radius-high;
                transition: background-color 0.2s;
                transition-timing-function: ease;
                cursor: pointer;
                background-color: $bc-01;
                &:hover {
                    background-color: $bc-14;
                    text-decoration: none;
                    a {
                        color: $bc-01;
                    }
                }
                &.active {
                    cursor: default;
                    background-color: $bc-14;
                    a {
                        color: $bc-01;
                    }
                }
                a {
                    
                    color: $bc-14;
                    text-decoration: none;
                    transition-property: font-weight, color;
                    transition-duration: 0.2s;
                    transition-timing-function: ease;
                    font-size: 1.15rem;
                    @include media('sm') {
                        font-size: 1rem;
                    }
                    letter-spacing: 1px;
                    
                    
                }
            }
            li:nth-child(2) {
                margin: 0 6rem;
                @include media('sm') {
                    margin: 0 2rem;
                }
            }
        }
    }
    .btn-user {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            padding: 0.5rem;
            background-color: transparent;
            border: none;
            transition: all 0.3s;
            color: $bc-14;
            cursor: pointer;
            &:hover {
                color: $bc-17;
            }
            &:active, &:focus {
                outline: 0
            }
        }
        .content {
            opacity: 0;
            position: absolute;
            background-color: $bc-14;
            box-shadow: 0 2px 8px 2px rgba($bc-18, 0.2);
            top: 105%;
            color: $bc-18;
            padding: 1.5rem 1rem;
            border-radius: $radius-low;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 200px;
            right: 0;
            @include media('lg') {
            }
            .divider-horizon {
                position: relative;
                margin: 1.3rem 0;
                &::after {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    content: '';
                    width: 90%;
                    height: 1px;
                    background-color: rgba($bc-18, 0.15);
                    transform: translateX(-50%);
                }
            }
            .user-status {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .nickname {
                    letter-spacing: 2px;
                    font-size: 1.1rem;
                    margin-bottom: 1rem;
                    font-weight: 900;
                }
                .charge {
                    margin-top: 0.5rem;
                    color: $bc-13;
                    cursor: pointer;
                    font-size: 0.9rem;
                    transition: color 0.3s ease;
                    
                }
            }
            .content-item {
                display: flex;
                align-items: center;
                margin: auto;
                cursor: pointer;
                transition: color 0.3s ease;
                &:hover {
                    color: $bc-17;
                }
                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
                svg {
                    margin-right: 8px;
                }
            }
        }
    }
}